<div class="car-app-wrap container-fluid">
  <h1 class="blink">Application {{carInfo.name}} car</h1>
  <h2>Car info</h2>
  <div class="row">
    <div class="col-7 car-img"><img src="{{carInfo.img}}" alt=""></div>
    <div class="col-5 car-info d-flex">
      <div *ngFor="let el of carInfo.specifications">— {{el}}</div>
      <div class="current-state"><span>Mileage: {{carInfo.mileage}} km</span><span>Fuel: {{carInfo.fuel}} l</span></div>
    </div>
  </div>
  <div class="buttons-func">
    <button class="btn btn-primary" [class.blink]="carInfo.fuel" [class.disable]="!carInfo.fuel" (click)="drive()">Vrooooooooom</button>
    <button class="btn btn-success blink" *ngIf="carInfo.fuel == 0" (click)="refuel()">Free petrol!</button>
  </div>
  
  <div class="warning" *ngIf="carInfo.fuel<3 && carInfo.fuel>0"><span>Warning!!!</span> Petrol runs out, you must find a gas station.</div>
  <div class="gasoline-over" *ngIf="carInfo.fuel == 0">Sorry, petrol is over...</div>
</div>

