.car-app-wrap{
    color: white;
    margin-top: 50px;
}
h1, h2{
    text-align: center;
}
.car-img img{
    width: 100%;
}
.car-info{
    flex-direction: column;
    justify-content: center;
}
.buttons-func{
    text-align: center;
}
.buttons-func button + button{
    margin-left: 30px;
}
.btn-primary:focus{
    box-shadow: none;
    border: none;
}
.warning span, .gasoline-over{
    color: red;
    font-weight: bold;
}
.warning, .gasoline-over{
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
}
.current-state{
    margin-top: 30px;
}
.current-state span {
    display: block;
    font-style: italic;
}
.disable{
    background-color: grey;
    pointer-events: none;
}

@-webkit-keyframes pulsate {
    50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
   }
   @keyframes pulsate {
    50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
   }
   #blink {
     color: rgb(245,245,245);
     text-shadow: 0 -1px rgba(0,0,0,.1);
     -webkit-animation: pulsate 1.2s linear infinite;
     animation: pulsate 1.2s linear infinite;
   }